[submodule "src/liquid-dsp"]
	path = src/liquid-dsp
	url = git@github.com:jgaeddert/liquid-dsp.git

[submodule "src/libwave"]
	path = src/libwave
	url = git@github.com:brglng/libwave.git

[submodule "src/portaudio"]
	path = src/portaudio
	url = git@github.com:PortAudio/portaudio.git
[submodule "src/tests/minunit"]
	path = src/tests/minunit
	url = git@github.com:siu/minunit.git
