[submodule "src/liquid-dsp"]
	path = src/liquid-dsp
	url = git@github.com:jgaeddert/liquid-dsp.git
[submodule "src/libwave"]
	path = src/libwave
	url = git@github.com:brglng/libwave.git

[submodule "src/libsoundio"]
	path = src/libsoundio
	url = git@github.com:andrewrk/libsoundio.git
