[submodule "src/liquid-dsp"]
	path = src/liquid-dsp
	url = git@github.com:jgaeddert/liquid-dsp.git
[submodule "src/libwave"]
	path = src/libwave
	url = git@github.com:brglng/libwave.git
[submodule "src/miniaudio"]
	path = src/miniaudio
	url = git@github.com:mackron/miniaudio.git
